body{
    background-color: gainsboro;
    margin: auto;
}

.hero{
    margin: 0;
    width: 100%;
    height: 400px;
    background-image: url(imagens/london.jpg);
    text-align: right;
    background-position:  center;
}
nav ul{
    margin-top: 0;
    margin-bottom: 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    font-family: sans-serif;
    text-transform: uppercase;
    padding-right: 30px;
    font-size: 15px; 
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
 color: yellow;
}

nav ul li a:visited{
    color: white;
}

body h1{
    text-align: left;
    font-size: 35px;
    font-family: sans-serif;
}
.texto{
    text-align: left;
    padding-left: 20px;
}
.principal{
    display: grid;
    width: 90%;
    margin: auto;
    justify-content: center;
    gap: 16px;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 'primeira segunda terceira'
    'primeira quarta quinta';

}
.item-1{
    grid-area: primeira;
}

.item-1 img{
    height: 100%;
    width: 100%;
} 
.item-2{
    grid-area: segunda;
  

}
.item-2 img{
    height: 100%;
    width: 100%;
}

.item-3{
    grid-area: terceira;
}
.item-3 img{
    height: 100%;
    width: 100%;
}

.item-4{
    grid-area: quarta;

}

.item-4 img{
    height: 100%;
    width: 100%;
}
.item-5{
    grid-area: quinta;

}
.item-5 img{
    height: 100%;
    width: 100%;
}

.secundaria{ 
    align-items: center;
    margin: auto;
}

.texto1 p {
    text-align: left;
    padding-left: 20px;
}

.grid2{
    display: grid;
    justify-content: center;
    width: 90%;
    margin: auto;
    gap: 10px;
    grid-template-rows: 1fr;
    grid-template-areas: 'primeira segunda ';
}
.item-6{
    grid-area: primeira;
    background-color: white;
    max-width: 400px;
    min-width: 120px;
}
.item-6 p{
    padding-left: 15px;
}
.item-6 img{
    justify-content: center;
    max-width: 100%;
    height: 200px;

}

.item-7{
    grid-area: segunda;
    background-color: white;
    max-width: 400px;
    min-width: 120px;
    
}
.item-7 img{
    height: 200px;
    max-width: 100%;
} 
.item-7 p {
    padding-left: 15px;
}

.email{
    padding: 10px;
    margin-top: 5%;
    background-color: #353839;
    height: auto;
}
.email h1{
    color: white;
    text-align: left;
    margin-bottom: 10px;
}
.email input{
    height: 25px;
    width: 90%;
}

.email p {
    margin: 0;
    color: white;
    padding-top: 5px;
}

.email button{
    margin-top: 10px;
    height: 40px;
    background-color: red;
    color: white;
    margin-bottom: 15px;

}
.contatos{
    padding: 10px;
}
.contatos p {
    color: #353839;
}
.contatos2{
    padding: 10px
}
.contatos2 input{
    height: 35px;
    border: 1px solid #353839;
    width: 90%;
    margin-bottom: 10px;

}
.contatos2 button{
    text-transform: uppercase;
    height:40px ;
    background-color: black;
    color: white;
}